{% extends 'base.html.twig' %}

{% block title %}Hello BiensController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>je suis le bien</h1>

    This friendly message is coming from:

</div>
{% endblock %}
